<!--
  File: Assignment 2 - Authentication
  My name: Thuan An Quan - Anson
  Student number: 301101604
  Program: Software Engineering Technology
  Course: Web Application Development - Section 008
  Professor: Dr. Zakiyabanu Malek
  Date: October 29, 2022
-->

<nav class="navbar fixed-bottom navbar-dark bg-secondary">
    <h5 class="display-7 navbar-text">&copy; Copyright 2022. All Rights reserved. Thuan An Quan 301101604 Assignment 2</h5>
</nav>  